In [4]:
import pandas as pd

# Load the dataset
data = pd.read_csv('Employee_Performance-1.csv')

# Display the first few rows of the dataset and check for missing values, duplicates, and general summary statistics
data.head(), data.info(), data.describe(
), data.isnull().sum(), data.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         1468 non-null   int64
 1   Department         1468 non-null   object
 2   Gender             1468 non-null   object
 3   Experience         1468 non-null   int64
 4   TrainingHours      1468 non-null   int64
 5   PerformanceRating  1468 non-null   float64
 6   Salary             1468 non-null   int64
dtypes: float64(1), int64(4), object(2)
memory usage: 80.4+ KB

(   EmployeeID Department  Gender  Experience  TrainingHours  \
 0        1001         IT    Male           4              5
 1        1002  Marketing  Female           0             50
 2        1003      Sales    Male           0              5
 3        1004         HR    Male           1              5
 4        1005         HR  Female           9              5

    PerformanceRating  Salary
 0               1.00   19000
 1               5.50    6900
 2               1.00    6000
 3               1.00    6000
 4               1.04   38000  ,
 None,
         EmployeeID   Experience  TrainingHours  PerformanceRating  \
 count  1468.000000  1468.000000    1468.000000        1468.000000
 mean   1734.500000     2.838556      32.144414           3.561512
 std     423.919411     2.527657      10.106029           1.044987
 min    1001.000000     0.000000       5.000000           1.000000
 25%    1367.750000     1.000000      25.000000           2.840000
 50%    1734.500000     2.000000      31.000000           3.630000
 75%    2101.250000     4.000000      39.000000           4.330000
 max    2468.000000     9.000000      50.000000           5.500000

              Salary
 count   1468.000000
 mean   16107.623297
 std    12158.438481
 min     6000.000000
 25%     7700.000000
 50%    10100.000000
 75%    20000.000000
 max    53100.000000  ,
 EmployeeID           0
 Department           0
 Gender               0
 Experience           0
 TrainingHours        0
 PerformanceRating    0
 Salary               0
 dtype: int64,
 0)